<html lang="en">
<head>
    <title>Dublin Bikes</title>
    <meta charset="utf-8">
    <meta name="description" content="index.html">
    <meta name="author" content="Andrew Hughes">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
    <div class="grid-container">
        <div class="logo"><img src= "/static/images/dublinbikes-vector-logo.png" alt="dublinbikeslogo" width="300" height="200"></img></div>
        <div class="description"><h1>Dublin Bike Journey Planner</h1><p>Your Dublin bike journey starts here!<p><p>Select your preferences from the dropdown menus before clicking Go.<p></div>
        <div class="date"><div id="date"></div></div>
        <div class="location"><div id="location"></div></div>
        <div class="action"><div id="action"></div></div>
        <div class="go"><div id="go"></div></div>
        <div class="map"><div id="map"></div></div>
        <div class="weather"><div id="weather"><h2>Weather</h2></div></div>
        <div class="station"><div id="station"><h2>Station</h2><p><br>Click the markers on the map <br> for more station information.</p></div><div id="distance"></div></div>
        <div class="chart"><div id="chart"></div></div>
    </div>

    <script>initIndex();</script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=XXX&callback=initCharts&libraries=&v=weekly"
      async
    ></script>
</body>
</html>